//color
$main-color:#e00;  //メインカラー
$sub-color:#b5b5b5;   //サブカラー
$main-color-l:lighten($main-color, 20%);
$sub-color-l:lighten($sub-color, 20%);

//width
$main-width:960px;  //トップページのコンテンツ幅
$u-width:620px;     //下層ページのコンテンツ幅
$main-contents:620px;
$aside:300px;

$top-column2:calc((#{$main-width} - 4%) / 2);
$top-column3:calc((#{$main-width} - 4%) / 3);
$top-column4:calc((#{$main-width} - 6%) / 4);
$top-column5:calc((#{$main-width} - 8%) / 5);
$main-contents2:calc((#{$main-contents} - 4%) / 2);
$main-contents3:calc((#{$main-contents} - 4%) / 3);
$main-contents4:calc((#{$main-contents} - 6%) / 4);
$main-contents5:calc((#{$main-contents}- 8%) / 5);
$column2:calc((#{$u-width} - 4%) / 2);
$column3:calc((#{$u-width} - 4%) / 3);
$column4:calc((#{$u-width} - 6%) / 4);
$column5:calc((#{$u-width} - 8%) / 5);
$u-contents2:calc((#{$u-width} - 4%) / 2);
$u-contents3:calc((#{$u-width} - 4%) / 3);
$u-contents4:calc((#{$u-width} - 6%) / 4);
$u-contents5:calc((#{$u-width} - 8%) / 5);

//インターポーレーション
$path:'../img/'
