@charset "UTF-8";
@import "mixin";
@import "variable";
@import "function";

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	width: 100%;
	margin: 0;
	color: #000;
	font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-weight: 500;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

.pc {
	display: none !important;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

#wrapper {
	background: #fff;
}

p {
	@include fz(16);
	line-height: 1.8;
}

#loader-bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #f4f4f4;
	z-index: 1;
}

#loader {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	text-align: center;
	color: #fff;
	z-index: 2;
}

//loading画像
.fulfilling-bouncing-circle-spinner,
.fulfilling-bouncing-circle-spinner * {
	box-sizing: border-box;
}

.fulfilling-bouncing-circle-spinner {
	height: 60px;
	width: 60px;
	position: relative;
	animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .orbit {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: calc(60px * 0.03) solid #ec7b3f;
	animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .circle {
	height: 60px;
	width: 60px;
	color: #ff1d5e;
	display: block;
	border-radius: 50%;
	position: relative;
	border: calc(60px * 0.1) solid #ec7b3f;
	animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
	transform: rotate(0deg) scale(1);
}

@keyframes fulfilling-bouncing-circle-spinner-animation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1);
	}

	62.5% {
		transform: scale(0.8);
	}

	75% {
		transform: scale(1);
	}

	87.5% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes fulfilling-bouncing-circle-spinner-circle-animation {
	0% {
		transform: scale(1);
		border-color: transparent;
		border-top-color: inherit;
	}

	16.7% {
		border-color: transparent;
		border-top-color: initial;
		border-right-color: initial;
	}

	33.4% {
		border-color: transparent;
		border-top-color: inherit;
		border-right-color: inherit;
		border-bottom-color: inherit;
	}

	50% {
		border-color: inherit;
		transform: scale(1);
	}

	62.5% {
		border-color: inherit;
		transform: scale(1.4);
	}

	75% {
		border-color: inherit;
		transform: scale(1);
		opacity: 1;
	}

	87.5% {
		border-color: inherit;
		transform: scale(1.4);
	}

	100% {
		border-color: transparent;
		border-top-color: inherit;
		transform: scale(1);
	}
}

.fadein {
	opacity: 0;
	transform: translate(0, 100px);
	transition: all 1s;
}

.fadein.active {
	opacity: 1;
	transform: translate(0, 0);
}

//ここから編集してください。▽▽▽ --------------------
.header {
	width: 100%;
	height: 60px;
	background: #fff;

	.inner {
		max-height: 54px;
		padding: 4% 0 0 4%;

		h1 {
			width: 45%;
			height: auto;
			float: left;

			img {
				max-height: 35px;
			}
		}

		&::after {
			content: "";
			clear: both;
			display: block;
		}
	}

	.hdr-tel a {
		display: block;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 5px;
		right: 70px;
		background: $main-color;
		border-radius: 5px;

		img {
			width: 44px;
			height: 44px;
			margin: 3px;
		}
	}
}

.main-image {
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 32px;

	img {
		width: 100%;
		height: auto;
	}

	p.float {
		position: absolute;
		width: 80%;
		height: auto;
		font-size: 8vw;
		left: 4%;
		bottom: 4%;
	}
}

.main-contents {
	h2 {
		@include fz(22);
		text-align: center;
		margin-bottom: 24px;
	}

	section {
		margin-bottom: 12%;

		p {
			@include fz(16);
		}

		&.intro {
			padding: 0 15px;
			margin: 0 auto 80px;

			p {
				margin-bottom: 24px;
			}
		}

		&.bg-section {
			background: #e4e4e4;
			padding: 10% 0;

			.inner {
				padding: 0 15px;
				margin: 0 auto;

				p {
					margin-bottom: 24px;
				}
			}
		}

		&.top-news {
			padding: 0 15px;
			margin: 0 auto 100px;

			dl {
				border-bottom: 1px dotted #ccc;

				dt {
					padding: 15px 10px 0;
					width: 100%;
					font-weight: bold;
					font-size: 14px;
				}

				dd {
					padding: 15px 10px;
					width: 100%;
					font-size: 16px;
				}

				&:nth-last-of-type(1) {
					margin-bottom: 40px;
				}
			}
		}


	}
}

aside {
	width: 92%;
	margin: 0 auto;

	.side-menu {
		p.title {
			@include fz(16);
			margin-bottom: 16px;
			font-weight: bold;
		}

		ul {
			border-top: 1px solid #ccc;
			margin-bottom: 40px;

			li {
				list-style-type: none;
				border-bottom: 1px solid #ccc;

				a {
					display: block;
					padding: 12px 0;
					@include fz(14);
					text-decoration: none;
					font-weight: bold;

					&:hover {
						color: $main-color;

					}
				}
			}
		}
	}

	.side-bnr {
		margin-bottom: 60px;

		a {
			img {
				margin: 0 auto;
			}

		}
	}
}

.footer-contact {
	margin-bottom: 60px;

	h2 {
		@include fz(22);
		text-align: center;
		margin-bottom: 24px;
	}

	.inner {
		padding: 0 15px;
		margin: 0 auto;

		p {
			margin-bottom: 24px;
		}
	}
}

/* 2カラム------------------- */
.box-2column {
	margin-bottom: 4%;

	.box {
		width: 100%;
		height: auto;

		.image {
			width: 100%;
			height: 80vw;
			background: #ccc;
			overflow: hidden;
			margin-bottom: 16px;
		}

		p.title {
			@include fz(17);
			font-weight: bold;
			margin-bottom: 8px !important;
		}
	}
}

/* 3カラム------------------- */
.box-3column {
	margin-bottom: 4%;

	.box {
		width: 100%;
		margin-bottom: 10%;

		.image {
			width: 100%;
			height: 60vw;
			background: #ccc;
			overflow: hidden;
			margin-bottom: 16px;
		}

		p.title {
			@include fz(17);
			font-weight: bold;
			margin-bottom: 8px !important;
		}
	}
}

/* 4カラム------------------- */
.box-4column {
	margin-bottom: 4%;

	.box {
		width: 100%;

		.image {
			width: 100%;
			height: 13vw;
			background: #ccc;
			overflow: hidden;
			margin-bottom: 16px;

		}

		p.title {
			@include fz(17);
			font-weight: bold;
			margin-bottom: 8px !important;
		}
	}
}

/* 2カラム カード------------ */
.box-2column-card {
	margin-bottom: 4%;

	.box {
		width: 100%;
		display: flex;
		margin-bottom: 4%;

		.image {
			width: 30%;
			margin-right: 2%;
			height: 20vw;
			background: #ccc;
			overflow: hidden;
		}

		.txt {
			width: 68%;

			p {
				@include fz(13);

				&.title {
					@include fz(15);
					font-weight: bold;
					margin-bottom: 4px !important;
				}
			}
		}

	}
}

.for-list {
	a {
		display: block;
		width: 280px;
		margin: 0 auto 40px;
		padding: 15px 0;
		text-align: center;
		color: #fff;
		background: $main-color;
		font-size: 16px;
		border-radius: 5px;
		text-decoration: none;
		box-shadow: 2px 3px 2px #aaa;

		&:hover {
			background: $main-color-l;
		}
	}

}

.for-contact {
	a {
		display: block;
		width: 280px;
		margin: 0 auto 40px;
		padding: 15px 0;
		text-align: center;
		color: #fff;
		background: $sub-color;
		font-size: 16px;
		border-radius: 5px;
		text-decoration: none;
		box-shadow: 2px 3px 2px #aaa;

		&:hover {
			background: $sub-color-l;
		}
	}

}

/* 下層共通 -----------------------*/
.logo {

	width: 45%;
	height: auto;
	float: left;

	img {
		max-height: 35px;
	}
}

.u-main {
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	margin-bottom: 40px;

	img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.inner {
		padding: 0 15px;
		height: 100%;
		margin: 0 auto;
		position: relative;

		h1,
		.page-title {
			@include fz(32);
			font-weight: bold;
			color: #000;
			line-height: 200px;
		}
	}
}

.u-contents {
	padding: 0 15px;
	margin: 0 auto;

	h2 {
		@include fz(22);
		font-weight: bold;
		margin-bottom: 24px;
	}

	p#breadcrumbs {
		margin-bottom: 24px;
	}

	p#breadcrumbs a,
	p#breadcrumbs span {
		color: #000;
		font-size: 13px;

	}
}

/*新着情報*/
.news-list {
	width: 100%;
	margin-bottom: 60px;
}

.news-list dl {
	margin-bottom: 24px;
	border-bottom: 1px solid #ccc;
}

.news-list dl dt {
	padding: 8px 8px 0;
	font-weight: bold;
	@include fz(12);
}

.news-list dl dd {
	padding: 8px;
	@include fz(15);

	a {
		text-decoration: none;
		color: $main-color;
		font-weight: bold;

		&:hover {
			color: $sub-color;
		}
	}
}

.news-card-2 .wrap,
.news-card-3 .wrap,
.news-card-4 .wrap {
	.box {
		width: 100%;
		margin-bottom: 40px;

		.image {
			width: 100%;
			height: 55.7vw;
			background: #ccc;
			margin-bottom: 16px;
		}

		p.title {
			@include fz(15);
			font-weight: bold;
			line-height: 1.5;
			margin-bottom: 8px;
		}

		p {
			@include fz(14);
		}

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}

.news-media-1 .wrap,
.news-media-2 .wrap {
	.box {
		width: 100%;
		margin-bottom: 32px;

		.image {
			width: 100%;
			height: 55.7vw;
			margin-right: 2%;
			background: #ccc;
			margin-bottom: 8px;
		}

		.txt {
			width: 100%;

			p.title {
				@include fz(15);
				font-weight: bold;
				margin-bottom: 8px;
			}

			p {
				@include fz(13);
			}
		}
	}
}

.wp-pagenavi {
	text-align: center;
	margin: 40px auto;
	display: flex;
	justify-content: center;

	span,
	a {
		display: block;
		width: 30px;
		height: 30px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: $main-color;
		border: 1px solid $main-color;
		border-radius: 50%;
		line-height: 30px;
		margin: 0 4px;

		&.nextpostslink {
			border: none;
		}

		&.pages {
			display: none;
		}

		&.current {
			color: #fff;
			background: $main-color;
		}
	}

	a:hover {
		color: $sub-color;
		border-color: $sub-color;
	}
}

/*記事詳細ページ*/
.single-contents {
	margin-bottom: 64px;

	h1 {
		@include fz(20);
		font-weight: bold;
		margin-bottom: 32px;
	}

	h2 {
		@include fz(19);
		font-weight: bold;
		margin: 24px 0;

		&:first-child {
			margin-top: 0;
		}
	}

	h3 {
		@include fz(18);
		margin: 24px 0;
	}

	h4 {
		@include fz(16);
		font-weight: bold;
		margin: 16px 0;
	}

	p {
		@include fz(14);
		line-height: 1.8;
		margin-bottom: 16px;
	}

	figure img {
		max-width: 100%;
		height: auto;
		margin-bottom: 16px
	}

	ul {
		margin: 16px 0;

		li {
			font-size: 14px;
			font-weight: bold;
			list-style: none;
			margin: 0 0 16px;
			line-height: 1.5;
			padding: 0;

			&::before {
				content: "";
				/* 空の要素作成 */
				width: 10px;
				/* 幅指定 */
				height: 10px;
				/* 高さ指定 */
				display: inline-block;
				/* インラインブロックにする */
				background-color: #F44336;
				/* 背景色指定 */
				border-radius: 50%;
				margin-right: 8px;
				/* 要素を丸くする */
			}
		}
	}

	table {
		border: 2px solid #eee;
		margin: 24px 0;

		tr {
			width: 100%;

			td {
				@include fz(14);
				padding: 15px;
				border-right: 2px solid #eee;
				border-bottom: 2px solid #eee;
				line-height: 1.5;

				&:nth-of-type(1) {
					background: #e4e4e4;
					font-weight: bold;
				}

				&:nth-last-of-type(1) {
					border-right: none;
				}
			}

			&:nth-last-of-type(1) td {
				border-bottom: 0;
			}
		}
	}

	blockquote {
		position: relative;
		padding: 40px 10px 10px 15px;
		box-sizing: border-box;
		font-style: italic;
		color: #464646;
		background: #ddeaff;
		margin: 24px 0;

		&:before {
			display: inline-block;
			position: absolute;
			top: 13px;
			left: 17px;
			content: "\f10d";
			font-family: FontAwesome;
			color: #FFF;
			font-size: 35px;
			line-height: 1;
			font-weight: 900;
		}

		p {
			padding: 0;
			margin: 10px 0;
			line-height: 1.7;
			font-weight: bold;
		}

		cite {
			display: block;
			text-align: right;
			color: #888888;
			font-size: 0.9em;
		}
	}
}

/*会社概要*/
.greeting {
	margin-bottom: 80px;

	.wrap {
		margin-bottom: 40px;

		.txt {
			line-height: 1.8;
			@include fz(14);

			p.name {
				margin: 24px 0 32px;
				text-align: right;
				font-weight: bold;
				@include fz(15);

				span {
					@include fz(13);
				}
			}
		}

		.image {
			width: 100%;
			height: auto;
		}
	}
}

.history {
	margin-bottom: 80px;

	dl {
		display: flex;
		border-right: 2px solid #aaa;
		border-left: 2px solid #aaa;
		border-bottom: 2px solid #aaa;
		align-items: center;
		line-height: 0;

		dt {
			width: 22%;
			padding: 4% 2%;
			@include fz(13);
			font-weight: bold;
			border-right: 2px solid #aaa;
			background: #d8f5cd;
			line-height: 1.5;
		}

		dd {
			width: 78%;
			padding: 2%;
			@include fz(15);
			line-height: 1.5;
		}

		&:nth-of-type(1) {
			border-top: 2px solid #aaa;
		}
	}
}

.company-profile {
	margin-bottom: 104px;

	dl {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ccc;

		&:nth-of-type(1) {
			border-top: 3px solid #ccc;
		}

		dt {
			width: 26%;
			padding: 4% 2%;
			@include fz(14);
			font-weight: bold;
			line-height: 1.5;
		}

		dd {
			width: 74%;
			padding: 2%;
			@include fz(15);
			line-height: 1.5;
		}
	}

	.com-image {
		margin: 32px auto;
	}

	.map {
		margin: 0 auto;
		position: relative;
		width: 100%;
		padding-top: 56.25%;
	}

	.map iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

/*よくある質問*/
.faq {
	margin-bottom: 64px;

	.box {
		margin-bottom: 24px;
		padding: 4%;
		border-radius: 10px;

		.question {
			@include fz(18);
			margin-bottom: 16px;
			border-bottom: 1px dotted #ccc;
			padding-bottom: 8px;

			span {
				@include fz(20);
				color: cadetblue;
				margin-right: 8px;
			}
		}

		.answer {
			@include fz(15);
			line-height: 1.5;

			span {
				@include fz(18);
				color: #e00;
				margin-right: 8px;
			}
		}

		&:nth-of-type(2n-1) {
			background: linen;
		}
	}
}

/*プライバシーポリシー*/
.l-privacy {
	.p--definition {
		dt {
			@include fz(16);
			line-height: 1.2;
			margin-bottom: 16px;
			font-family: "note700";
		}

		dd {
			@include fz(16);
			line-height: 1.5;
			margin-bottom: 32px;
		}
	}

	p.company-name {
		@include fz(16);
		font-family: "note700";

		&:first-line {
			@include fz(18);
		}
	}
}

/*お問いわせフォーム*/
p.contact-intro {
	text-align: left;
	margin-bottom: 40px;
	@include fz(15);
}

.contact-form {
	margin-bottom: 40px;

	dl {
		border-radius: 10px;
		margin-bottom: 24px;

		&:nth-of-type(2n-1) {
			background: #f7f5ef;
		}

		dt {
			padding: 4%;
			@include fz(15);
			width: 100%;

			span {
				padding: 3px 6px;
				text-align: center;
				color: #fff;
				@include fz(12);
				border-radius: 5px;
				margin-right: 8px;

				&.required {
					background: #e00;
				}

				&.any {
					background: #aaa;
				}
			}
		}

		dd {
			padding: 4%;
			@include fz(15);
			width: 100%;

			input,
			textarea {
				border: 1px solid #ccc;
			}

			input[type="text"] {
				width: 100%;
				padding: 5px;
				margin-bottom: 8px;
				@include fz(15);
			}

			input.zip {
				width: 30%;
			}

			input[type="tel"] {
				width: 40%;
				padding: 5px;
				margin-bottom: 8px;
				@include fz(15);
			}

			textarea {
				width: 100%;
				padding: 5px;
				@include fz(15);
			}

			span {
				font-size: 13px;
				color: #aaa;
			}

			label {
				margin-right: 16px;
			}
		}

		&:nth-last-of-type(1) {
			margin-bottom: 32px;
		}
	}

	.poricy-agree {
		text-align: center;
		@include fz(14);

		margin-bottom: 24px;

		input {
			margin-right: 8px;
		}
	}

	input[type="submit"] {
		display: block;
		padding: 10px 15px;
		margin: 0 auto;
		text-align: center;
		background: $main-color;
		color: #fff;
		@include fz(15);

		&:hover {
			background: $sub-color;
		}
	}
}

h2.thanks-txt {
	Width: 100%;
	text-align: left;
	@include fz(19);
	font-weight: bold;
	Margin: 0 auto 24px;
	line-height: 1.5;
}

p.thanks-sub {
	Width: 100%;
	text-align: left;
	@include fz(16);
	Margin: 0 auto 16px;
}

.for-top {
	margin: 60px auto;
	text-align: center;
}

.for-top a {
	display: block;
	width: 280px;
	padding: 15px 0;
	text-align: center;
	background: $main-color;
	color: #fff;
	@include fz(16);
	font-weight: bold;
	margin: 0 auto 40px;
	text-decoration: none;
}

.for-top a:hover {
	background: $sub-color;
}

/*404*/
p.notfound {
	font-size: 15px;
	text-align: center;
	padding: 0 15px;
	margin: 24px auto 40px;
}

p.notfound span {
	Font-size: 18px;
	Font-weight: bold;
	Margin-bottom: 24px;
	display: block;
}

.fortop {
	text-align: center;
	margin-bottom: 40px;
}

.fortop a {
	display: block;
	width: 230px;
	padding: 12px;
	text-align: center;
	color: #fff;
	background: $main-color;
	border: 1px solid $main-color;
	margin: 24px auto;
	font-size: 14px;
	color: #fff !important;
	text-decoration: none;
}


footer {
	background: $sub-color !important;

	.inner {
		padding: 30px 15px;
		margin: 0 auto;

		.footer-logo {
			width: 100%;
			padding: 0;
		}

		.f-nav {
			margin: 0;
			position: relative;
			width: 50%;

			ul {
				display: flex;
				flex-wrap: wrap;

				li {
					width: 33.333%;
					padding: 15px;
					list-style: none;

					a {
						@include fz(15);

						&:hover {
							color: #fff;
						}
					}
				}
			}


		}
	}

	small {
		text-align: center;
		@include fz(14);
		display: block;
		color: #fff;
		padding: 10px 0;
		border-top: 1px solid #fff;
	}
}

#gnav {
	padding: 60px 0;
	background-color: $main-color;
}

#gnav a {
	color: #fff;
	text-decoration: none;
}

#gnav a:hover,
#gnav a.stay {
	background-color: $main-color-l;
}

/* mmenu */
#mm-blocker {
	background: rgba(0, 0, 0, .5);
}


/* sp-navi */
.sp-navi {
	background: #f90;
	box-shadow: 0 -1px 5px rgba(0, 0, 0, .2);
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.sp-navi li {
	border-left: 1px solid rgba(0, 0, 0, .1);
	border-right: 1px solid rgba(255, 255, 255, .1);
	width: 20%;
	position: relative;
}

.spn {
	width: 60px;
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
	background: $main-color;
	color: #fff !important;
	display: block;
	font-size: 10px;
	line-height: 1.1;
	text-align: center;
	padding: 11px 0 10px;
}

.spn:not(#gnav-open)::before {
	display: block;
	font-family: 'taga-koutsuu';
	font-size: 2rem;
	margin: 0 0 5px;
}

.sp-navi li:nth-child(1) a.spn::before {
	content: '\e801';
}

.sp-navi li:nth-child(2) a.spn::before {
	content: '\e803';
}

.sp-navi li:nth-child(3) a.spn::before {
	content: '\f15c';
}

.sp-navi li:nth-child(4) a.spn::before {
	content: '\e800';
}

.mainnav-sub li {
	background: $main-color-l;
}

#page_top {
	position: fixed;
	bottom: 30px;
	right: 5%;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgba(191, 127, 63, 0.8);
}

#page_top a {
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	color: #fff;
	text-align: center;
}
