@charset "UTF-8";
@import "mixin";
@import "variable";
@import "function";

/*
#overview
Gulp入門サンプル

サンプルファイルです
*/
/*#styleguide
サンプル見出し1gul

```
<h1>見出し1</h1>
```
*/
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	min-width: $main-width;
}

body {
	width: 100%;
	margin: 0;
	color: #000;
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-weight: 500;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

p {
	@include fz(16);
	line-height: 1.8;
}

*:hover {
	transition: all 0.3s ease-out;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: underline;
	color: inherit;
}

/* 好みで使用してください
p, dl, dt, dd, ul, li{
    line-height: 1.5;
    font-feature-settings : "palt";
    text-align:justify; 
    text-justify: inter-ideograph;
}
*/
img {
	border: none;
}

.sp {
	display: none !important;
}

#loader-bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	top: 0px;
	left: 0px;
	background: #f4f4f4;
	z-index: 1;
}

#loader {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	text-align: center;
	color: #fff;
	z-index: 2;
}

//loading画像
.fulfilling-bouncing-circle-spinner,
.fulfilling-bouncing-circle-spinner * {
	box-sizing: border-box;
}

.fulfilling-bouncing-circle-spinner {
	height: 60px;
	width: 60px;
	position: relative;
	animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .orbit {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: calc(60px * 0.03) solid #ec7b3f;
	animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .circle {
	height: 60px;
	width: 60px;
	color: #ec7b3f;
	display: block;
	border-radius: 50%;
	position: relative;
	border: calc(60px * 0.1) solid #ec7b3f;
	animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
	transform: rotate(0deg) scale(1);
}

@keyframes fulfilling-bouncing-circle-spinner-animation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1);
	}

	62.5% {
		transform: scale(0.8);
	}

	75% {
		transform: scale(1);
	}

	87.5% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes fulfilling-bouncing-circle-spinner-circle-animation {
	0% {
		transform: scale(1);
		border-color: transparent;
		border-top-color: inherit;
	}

	16.7% {
		border-color: transparent;
		border-top-color: initial;
		border-right-color: initial;
	}

	33.4% {
		border-color: transparent;
		border-top-color: inherit;
		border-right-color: inherit;
		border-bottom-color: inherit;
	}

	50% {
		border-color: inherit;
		transform: scale(1);
	}

	62.5% {
		border-color: inherit;
		transform: scale(1.4);
	}

	75% {
		border-color: inherit;
		transform: scale(1);
		opacity: 1;
	}

	87.5% {
		border-color: inherit;
		transform: scale(1.4);
	}

	100% {
		border-color: transparent;
		border-top-color: inherit;
		transform: scale(1);
	}
}

#wrapper {
	display: none;
}

.fadein {
	opacity: 0;
	transform: translate(0, 100px);
	transition: all 1s;
}

.fadein.active {
	opacity: 1;
	transform: translate(0, 0);
}

//ここから下を編集してください。----------------------------------

.header {
	width: 100%;
	position: relative;

	.inner {
		width: $main-width;
		height: 120px;
		margin: 0 auto;
		padding: 0;
		display: flex;
		justify-content: space-between;

		h1 {
			width: 50%;
			display: flex;
			align-items: center;
		}

		.header-contact {
			display: flex;
			width: 50%;
			align-items: center;

			.tel {
				width: 50%;
				@include fz(20);

				svg {
					margin-right: 8px;
				}

				span {
					font-size: 12px;
				}
			}

			.hdr-contact {
				width: 50%;

				a {
					text-align: center;
					color: #fff;
					background: $main-color;
					font-size: 16px;
					border-radius: 5px;
					text-decoration: none;
					box-shadow: 2px 3px 2px #aaa;
					padding: 10px 40px;

					&:hover {
						background: $main-color-l;
					}
				}
			}
		}
	}

	nav {
		background: #000;

		ul {
			display: flex;
			align-items: center;
			justify-content: center;

			li {
				list-style-type: none;

				a {
					padding: 25px;
					@include fz(14);
					display: block;
					color: #fff;
					text-decoration: none;

					&:hover {
						background: #f4f4f4;
						color: #000;
					}
				}
			}
		}
	}
}

.main-image {
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 80px;

	img {
		width: 100%;
		height: auto;
	}

	p.float {
		position: absolute;
		left: 20%;
		bottom: 20%;
		font-size: 32px;
		color: #fff;
		font-weight: bold;
	}
}

.wrap-column {
	display: flex;
	justify-content: space-between;
	width: $main-width;
	margin: 0 auto;


	.main-contents {
		width: $main-contents;
		margin: 0;

		h2 {
			font-size: 28px;
			font-weight: bold;
			text-align: center;
			margin-bottom: 32px;
		}

		section {
			margin-bottom: 64px;

			&.intro {
				.inner {
					width: $main-contents;
					margin: 0 auto;

					p {
						margin-bottom: 16px;

						&.title {
							margin-bottom: 32px;
						}
					}
				}
			}

			&.bg-section {
				width: 100%;
				padding: 64px 15px 32px;
				background: #e4e4e4;

				.inner {
					width: 100%;
					margin: 0 auto;

					p {
						margin-bottom: 32px;
					}
				}
			}

			&.top-news {
				width: 100%;
				margin: 0 auto 100px;

				dl {
					border-bottom: 1px dotted #ccc;
					display: flex;

					dt {
						padding: 15px 10px;
						width: 20%;
						font-weight: bold;
						font-size: 14px;
					}

					dd {
						padding: 15px 10px;
						width: 80%;
						font-size: 16px;
					}

					&:nth-last-of-type(1) {
						margin-bottom: 40px;
					}
				}
			}



		}
	}

	aside {
		width: $aside;

		.side-menu {
			p.title {
				@include fz(16);
				margin-bottom: 16px;
				font-weight: bold;
			}

			ul {
				border-top: 1px solid #ccc;
				margin-bottom: 40px;

				li {
					list-style-type: none;
					border-bottom: 1px solid #ccc;

					a {
						display: block;
						padding: 12px 0;
						@include fz(14);
						text-decoration: none;
						font-weight: bold;

						&:hover {
							color: $main-color;

						}
					}
				}
			}
		}
	}

}

.footer-contact {
	border-top: 1px solid #ccc;
	padding: 40px 0;

	h2 {
		font-size: 28px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 32px;
	}

	margin-bottom: 0;

	.inner {
		width: 960px;
		margin: 0 auto;

		p {
			margin-bottom: 24px;
		}
	}
}

/* 2カラム------------------- */
.box-2column {
	width: $main-contents;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4%;

	.box {
		width: $main-contents2;
		margin-right: 4%;

		.image {
			width: 100%;
			height: 18vw;
			background: #ccc;
			overflow: hidden;
			margin-bottom: 16px;

		}

		p.title {
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px !important;
		}

		&:nth-of-type(2n) {
			margin-right: 0;
		}


	}

}

/* 3カラム------------------- */
.box-3column {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4%;

	.box {
		width: $top-column3;
		margin-right: 2%;

		.image {
			width: 100%;
			height: 13vw;
			background: #ccc;
			overflow: hidden;
			margin-bottom: 16px;
		}

		p.title {
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px !important;
		}

		&:nth-of-type(3n) {
			margin-right: 0;
		}


	}

}

/* 4カラム------------------- */
.box-4column {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4%;

	.box {
		width: $top-column4;
		margin-right: 2%;

		.image {
			width: 100%;
			height: 13vw;
			background: #ccc;
			overflow: hidden;
			margin-bottom: 16px;

		}

		p.title {
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px !important;
		}

		&:nth-of-type(4n) {
			margin-right: 0;
		}


	}

}

/* 5カラム------------------- */
.box-5column {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4%;

	.box {
		width: $top-column5;
		margin-right: 2%;

		.image {
			width: 100%;
			height: 13vw;
			background: #ccc;
			overflow: hidden;
			margin-bottom: 16px;

		}

		p.title {
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px !important;
		}

		&:nth-of-type(5n) {
			margin-right: 0;
		}


	}

}

/* 2カラム カード------------ */
.box-2column-card {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4%;

	.box {
		width: $top-column2;
		margin-right: 2%;
		display: flex;
		margin-bottom: 4%;

		.image {
			width: 48%;
			margin-right: 2%;
			height: 13vw;
			background: #ccc;
			overflow: hidden;
		}

		.txt {
			width: 50%;

			p.title {
				font-size: 15px;
				font-weight: bold;
				margin-bottom: 10px !important;
			}
		}

		&:nth-of-type(4n) {
			margin-right: 0;
		}


	}
}

/* 3カラム カード------------ */
.box-3column-card {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4%;

	.box {
		width: $top-column3;
		margin-right: 2%;
		display: flex;
		margin-bottom: 4%;

		.image {
			width: 48%;
			margin-right: 2%;
			height: 7vw;
			background: #ccc;
			overflow: hidden;
		}

		.txt {
			width: 50%;


			p {
				@include fz(13);

				&.title {
					@include fz(14);
					font-weight: bold;
					margin-bottom: 10px !important;
				}
			}
		}

		&:nth-of-type(3n) {
			margin-right: 0;
		}


	}
}

.for-list {
	a {
		display: block;
		width: 280px;
		margin: 0 auto 60px;
		padding: 15px 0;
		text-align: center;
		color: #fff;
		background: $main-color;
		font-size: 16px;
		border-radius: 5px;
		text-decoration: none;
		box-shadow: 2px 3px 2px #aaa;

		&:hover {
			background: $main-color-l;
		}
	}

}

.for-contact {
	a {
		display: block;
		width: 280px;
		margin: 0 auto 40px;
		padding: 15px 0;
		text-align: center;
		color: #fff;
		background: $sub-color;
		font-size: 16px;
		border-radius: 5px;
		text-decoration: none;
		box-shadow: 2px 3px 2px #aaa;

		&:hover {
			background: $sub-color-l;
		}
	}

}

/* 下層共通 -----------------------*/
.logo {
	width: 50%;
	display: flex;
	align-items: center;
}

.u-main {
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	margin-bottom: 40px;

	img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.inner {
		width: $u-width;
		height: 100%;
		margin: 0 auto;
		position: relative;

		h1,
		.page-title {
			@include fz(32);
			font-weight: bold;
			color: #000;
			line-height: 200px;
		}
	}
}

.u-contents {
	width: $u-width;
	margin: 0 auto;

	h2 {
		@include fz(22);
		font-weight: bold;
		margin-bottom: 24px;
	}

	p#breadcrumbs {
		margin-bottom: 40px;
	}

	p#breadcrumbs a,
	p#breadcrumbs span {
		color: #000;
		font-size: 13px;

	}
}

/*新着情報*/
.news-list {
	width: 100%;
	margin-bottom: 60px;
}

.news-list dl {
	display: flex;
	margin-bottom: 24px;
	border-bottom: 1px solid #ccc;
}

.news-list dl dt {
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
}

.news-list dl dd {
	padding: 10px;
	font-size: 15px;

	a {
		text-decoration: none;
		color: $main-color;
		font-weight: bold;

		&:hover {
			color: $sub-color;
		}
	}
}

.news-card-2 .wrap {
	display: flex;
	flex-wrap: wrap;

	a {
		display: block;
		width: $column2;
		margin-right: 2%;
		margin-bottom: 40px;
		text-decoration: none;

		&:hover {
			color: $main-color;
		}

		.image {
			width: 100%;
			height: 19.3vw;
			background: #ccc;
			margin-bottom: 16px;
		}

		p.title {
			@include fz(16);
			font-weight: bold;
			line-height: 1.5;
			margin-bottom: 8px;
		}

		p {
			@include fz(14);
		}

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}

.news-card-3 .wrap {
	display: flex;
	flex-wrap: wrap;

	a {
		display: block;
		width: $column3;
		margin-right: 2%;
		margin-bottom: 32px;
		text-decoration: none;

		&:hover {
			color: $main-color;
		}

		.image {
			width: 100%;
			height: 12.8vw;
			background: #ccc;
			margin-bottom: 16px;
		}

		p.title {
			@include fz(16);
			font-weight: bold;
			line-height: 1.5;
			margin-bottom: 8px;
		}

		p {
			@include fz(14);
		}

		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}
}

.news-card-4 .wrap {
	display: flex;
	flex-wrap: wrap;

	a {
		display: block;
		width: $column4;
		margin-right: 2%;
		margin-bottom: 32px;
		text-decoration: none;

		&:hover {
			color: $main-color;
		}

		.image {
			width: 100%;
			height: 9.5vw;
			background: #ccc;
			margin-bottom: 16px;
		}

		p.title {
			@include fz(16);
			font-weight: bold;
			line-height: 1.5;
			margin-bottom: 8px;
		}

		p {
			@include fz(14);
		}

		&:nth-of-type(4n) {
			margin-right: 0;
		}
	}
}

.news-media-1 .wrap {
	a {
		text-decoration: none;

		&:hover {
			color: $main-color;
		}

		.box {
			width: 100%;
			margin-bottom: 32px;
			display: flex;
			justify-content: space-between;

			.image {
				width: 20%;
				height: 8vw;
				margin-right: 2%;
				background: #ccc;
			}

			.txt {
				width: 78%;

				p.title {
					@include fz(15);
					font-weight: bold;
					margin-bottom: 8px;
				}

				p {
					@include fz(13);
				}
			}
		}
	}
}

.news-media-2 .wrap {
	display: flex;
	flex-wrap: wrap;

	a {
		display: block;
		text-decoration: none;
		width: $column2;

		&:hover {
			color: $main-color;
		}

		.box {
			width: 100%;
			margin-bottom: 32px;
			display: flex;
			justify-content: space-between;

			.image {
				width: 30%;
				height: 8vw;
				margin-right: 2%;
				background: #ccc;
			}

			.txt {
				width: 68%;
				padding-right: 4%;

				p.title {
					@include fz(15);
					font-weight: bold;
					margin-bottom: 8px;
				}

				p {
					@include fz(13);
				}
			}
		}
	}
}

.wp-pagenavi {
	text-align: center;
	margin: 40px auto;
	display: flex;
	justify-content: center;

	span,
	a {
		display: block;
		width: 30px;
		height: 30px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: $main-color;
		border: 1px solid $main-color;
		border-radius: 50%;
		line-height: 30px;
		margin: 0 4px;

		&.nextpostslink {
			border: none;
		}

		&.pages {
			display: none;
		}

		&.current {
			color: #fff;
			background: $main-color;
		}
	}

	a:hover {
		color: $sub-color;
		border-color: $sub-color;
	}
}

/*記事詳細ページ*/
.single-contents {
	margin-bottom: 64px;

	h1 {
		@include fz(20);
		font-weight: bold;
		margin-bottom: 32px;
	}

	h2 {
		@include fz(19);
		font-weight: bold;
		margin: 24px 0;

		&:first-child {
			margin-top: 0;
		}
	}

	h3 {
		@include fz(18);
		margin: 24px 0;
	}

	h4 {
		@include fz(16);
		font-weight: bold;
		margin: 16px 0;
	}

	p {
		@include fz(14);
		line-height: 1.8;
		margin-bottom: 16px;
	}

	figure img {
		max-width: 100%;
		height: auto;
		margin-bottom: 16px
	}

	ul {
		margin: 16px 0;

		li {
			font-size: 14px;
			font-weight: bold;
			list-style: none;
			margin: 0 0 16px;
			padding: 0;

			&::before {
				content: "";
				width: 10px;
				height: 10px;
				display: inline-block;
				background-color: #F44336;
				border-radius: 50%;
				margin-right: 8px;
			}
		}
	}

	table {
		border: 2px solid #eee;
		margin: 24px 0;

		tr {
			width: 100%;

			td {
				@include fz(14);
				padding: 15px;
				border-right: 2px solid #eee;
				border-bottom: 2px solid #eee;

				&:nth-of-type(1) {
					background: #e4e4e4;
					font-weight: bold;
				}

				&:nth-last-of-type(1) {
					border-right: none;
				}
			}

			&:nth-last-of-type(1) td {
				border-bottom: 0;
			}
		}
	}

	blockquote {
		position: relative;
		padding: 34px 10px 10px 20px;
		box-sizing: border-box;
		font-style: italic;
		color: #464646;
		background: #ddeaff;
		margin: 24px 0;

		&:before {
			display: inline-block;
			position: absolute;
			top: 13px;
			left: 17px;
			content: "\f10d";
			font-family: FontAwesome;
			color: #FFF;
			font-size: 26px;
			line-height: 1;
			font-weight: 900;
		}

		p {
			padding: 0;
			margin: 10px 0;
			line-height: 1.7;
			font-weight: bold;
		}

		cite {
			display: block;
			text-align: right;
			color: #888888;
			font-size: 0.9em;
		}
	}
}

/*会社概要*/
.greeting {
	margin-bottom: 80px;

	.wrap {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;

		.txt {
			margin-right: 40px;
			line-height: 1.8;
			@include fz(14);
			width: 60%;

			p.name {
				margin: 24px 0 0;
				text-align: right;
				font-weight: bold;
				@include fz(15);

				span {
					@include fz(13);
				}
			}
		}

		.image {
			width: 38%;
		}
	}
}

.history {
	margin-bottom: 80px;

	dl {
		display: flex;
		border-right: 2px solid #aaa;
		border-left: 2px solid #aaa;
		border-bottom: 2px solid #aaa;
		align-items: center;
		line-height: 0;

		dt {
			width: 20%;
			padding: 15px;
			@include fz(13);
			font-weight: bold;
			border-right: 2px solid #aaa;
			background: #d8f5cd;
			line-height: 1.5;
		}

		dd {
			width: 80%;
			padding: 0 20px;
			@include fz(16);
			line-height: 1.5;
		}

		&:nth-of-type(1) {
			border-top: 2px solid #aaa;
		}
	}
}

.company-profile {
	margin-bottom: 104px;

	dl {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ccc;

		&:nth-of-type(1) {
			border-top: 3px solid #ccc;
		}

		dt {
			width: 20%;
			padding: 15px;
			@include fz(14);
			font-weight: bold;
			line-height: 1.5;
		}

		dd {
			width: 80%;
			padding: 0 20px;
			@include fz(16);
			line-height: 1.5;
		}
	}

	.com-image,
	.map {
		width: 100%;
		height: auto;
		margin: 32px auto;

		iframe {
			width: 100%;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

/*よくある質問*/
.faq {
	margin-bottom: 64px;

	.box {
		margin-bottom: 24px;
		padding: 2%;
		border-radius: 10px;

		.question {
			font-size: 20px;
			margin-bottom: 16px;
			border-bottom: 1px dotted #ccc;
			padding-bottom: 8px;

			span {
				font-size: 22px;
				color: cadetblue;
				margin-right: 8px;
			}
		}

		.answer {
			font-size: 16px;
			line-height: 1.5;

			span {
				font-size: 22px;
				color: #e00;
				margin-right: 8px;
			}
		}

		&:nth-of-type(2n-1) {
			background: linen;
		}
	}
}

/*プライバシーポリシー*/
.l-privacy {
	margin-bottom: 200px;

	.p--definition {
		dt {
			@include fz(16);
			line-height: 1.2;
			margin-bottom: 16px;
			font-family: "note700";
		}

		dd {
			@include fz(16);
			line-height: 1.5;
			margin-bottom: 32px;
		}
	}

	p.company-name {
		@include fz(16);
		font-family: "note700";

		&:first-line {
			@include fz(18);
		}
	}
}

/*お問いわせフォーム*/
p.contact-intro {
	text-align: center;
	margin-bottom: 40px;
}

.contact-form {
	margin-bottom: 40px;

	dl {
		display: flex;
		border-radius: 10px;

		&:nth-of-type(2n-1) {
			background: #f7f5ef;
		}

		dt {
			padding: 15px;
			@include fz(15);
			width: 28%;

			span {
				padding: 3px 6px;
				text-align: center;
				color: #fff;
				@include fz(12);
				border-radius: 5px;
				margin-right: 8px;

				&.required {
					background: #e00;
				}

				&.any {
					background: #aaa;
				}
			}
		}

		dd {
			width: 72%;
			padding: 15px;
			@include fz(15);

			input[type="text"] {
				width: 100%;
				padding: 5px;
				margin-bottom: 8px;
				@include fz(15);
			}

			input.zip {
				width: 20%;
			}

			input[type="tel"] {
				width: 30%;
				padding: 5px;
				margin-bottom: 8px;
				@include fz(15);
			}

			textarea {
				width: 100%;
				padding: 5px;
				@include fz(15);
			}

			span {
				font-size: 13px;
				color: #aaa;
			}

			label {
				margin-right: 16px;
			}
		}

		&:nth-last-of-type(1) {
			margin-bottom: 32px;
		}
	}

	.poricy-agree {
		text-align: center;
		@include fz(14);

		margin-bottom: 24px;

		input {
			margin-right: 8px;
		}
	}

	input[type="submit"] {
		display: block;
		width: 90%;
		margin: 0 auto;
		padding: 10px;
		text-align: center;
		background: $main-color;
		color: #fff;
		@include fz(15);

		&:hover {
			background: $sub-color;
		}
	}
}

h2.thanks-txt {
	Width: 90%;
	text-align: center;
	@include fz(20);
	font-weight: bold;
	Margin: 0 auto 24px;
	line-height: 1.5;
}

p.thanks-sub {
	Width: 90%;
	text-align: center;
	@include fz(16);
	Margin: 0 auto 16px;
}

.for-top {
	margin: 60px auto;
	text-align: center;
}

.for-top a {
	display: block;
	width: 280px;
	padding: 15px 0;
	text-align: center;
	background: $main-color;
	color: #fff;
	@include fz(16);
	font-weight: bold;
	margin: 0 auto 40px;
	text-decoration: none;
}

.for-top a:hover {
	background: $sub-color;
}

/*404*/
p.notfound {
	font-size: 16px;
	text-align: center;
	width: 90%;
	margin: 0 auto 40px;
}

p.notfound span {
	Font-size: 22px;
	Font-weight: bold;
	Margin-bottom: 24px;
	display: block;
}

.fortop {
	text-align: center;
	margin-bottom: 40px;
}

.fortop a {
	display: block;
	width: 230px;
	padding: 12px;
	text-align: center;
	color: #fff;
	background: $main-color;
	border: 1px solid $main-color;
	margin: 24px auto;
	font-size: 16px;
	color: #fff !important;
	text-decoration: none;
}

.fortop a:hover {
	background: $sub-color;
	color: #fff;
}

footer {
	background: $sub-color !important;

	.inner {
		width: $main-width;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 30px 0;

		.footer-logo {
			width: 50%;
			padding: 0;
		}

		.f-nav {
			margin: 0;
			position: relative;
			width: 50%;

			ul {
				display: flex;
				flex-wrap: wrap;

				li {
					width: 33.333%;
					padding: 15px;
					list-style: none;

					a {
						@include fz(15);

						&:hover {
							color: #fff;
						}
					}
				}
			}


		}
	}

	small {
		text-align: center;
		@include fz(14);
		display: block;
		color: #fff;
		padding: 10px 0;
		border-top: 1px solid #fff;
	}
}

#page_top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: rgba(191, 127, 63, 0.8);
}

#page_top a {
	display: block;
	width: 100px;
	height: 100px;
	padding-top: 38px;
	font-size: 16px;
	color: #fff;
	text-align: center;
}

//リキッドレイアウトの時はこちらを
@include media(320, 767) {
	.wrap {
		width: 100%;
	}
}
