@charset "UTF-8";
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0;
  color: #000;
  font-family: YuGothic, 'Yu Gothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', sans-serif;
  font-weight: 500;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

.pc {
  display: none !important;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

#wrapper {
  background: #fff;
}

p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.8;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #f4f4f4;
  z-index: 1;
}

#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.fulfilling-bouncing-circle-spinner,
.fulfilling-bouncing-circle-spinner * {
  box-sizing: border-box;
}

.fulfilling-bouncing-circle-spinner {
  height: 60px;
  width: 60px;
  position: relative;
  animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .orbit {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: calc(60px * 0.03) solid #ec7b3f;
  animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .circle {
  height: 60px;
  width: 60px;
  color: #ff1d5e;
  display: block;
  border-radius: 50%;
  position: relative;
  border: calc(60px * 0.1) solid #ec7b3f;
  animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
  transform: rotate(0deg) scale(1);
}

@keyframes fulfilling-bouncing-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  62.5% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  87.5% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fulfilling-bouncing-circle-spinner-circle-animation {
  0% {
    transform: scale(1);
    border-color: transparent;
    border-top-color: inherit;
  }
  16.7% {
    border-color: transparent;
    border-top-color: initial;
    border-right-color: initial;
  }
  33.4% {
    border-color: transparent;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
  }
  50% {
    border-color: inherit;
    transform: scale(1);
  }
  62.5% {
    border-color: inherit;
    transform: scale(1.4);
  }
  75% {
    border-color: inherit;
    transform: scale(1);
    opacity: 1;
  }
  87.5% {
    border-color: inherit;
    transform: scale(1.4);
  }
  100% {
    border-color: transparent;
    border-top-color: inherit;
    transform: scale(1);
  }
}

.fadein {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s;
}

.fadein.active {
  opacity: 1;
  transform: translate(0, 0);
}

.header {
  width: 100%;
  height: 60px;
  background: #fff;
}

.header .inner {
  max-height: 54px;
  padding: 4% 0 0 4%;
}

.header .inner h1 {
  width: 45%;
  height: auto;
  float: left;
}

.header .inner h1 img {
  max-height: 35px;
}

.header .inner::after {
  content: "";
  clear: both;
  display: block;
}

.header .hdr-tel a {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  right: 70px;
  background: #e00;
  border-radius: 5px;
}

.header .hdr-tel a img {
  width: 44px;
  height: 44px;
  margin: 3px;
}

.main-image {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 32px;
}

.main-image img {
  width: 100%;
  height: auto;
}

.main-image p.float {
  position: absolute;
  width: 80%;
  height: auto;
  font-size: 8vw;
  left: 4%;
  bottom: 4%;
}

.main-contents h2 {
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 24px;
}

.main-contents section {
  margin-bottom: 12%;
}

.main-contents section p {
  font-size: 16px;
  font-size: 1.6rem;
}

.main-contents section.intro {
  padding: 0 15px;
  margin: 0 auto 80px;
}

.main-contents section.intro p {
  margin-bottom: 24px;
}

.main-contents section.bg-section {
  background: #e4e4e4;
  padding: 10% 0;
}

.main-contents section.bg-section .inner {
  padding: 0 15px;
  margin: 0 auto;
}

.main-contents section.bg-section .inner p {
  margin-bottom: 24px;
}

.main-contents section.top-news {
  padding: 0 15px;
  margin: 0 auto 100px;
}

.main-contents section.top-news dl {
  border-bottom: 1px dotted #ccc;
}

.main-contents section.top-news dl dt {
  padding: 15px 10px 0;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
}

.main-contents section.top-news dl dd {
  padding: 15px 10px;
  width: 100%;
  font-size: 16px;
}

.main-contents section.top-news dl:nth-last-of-type(1) {
  margin-bottom: 40px;
}

aside {
  width: 92%;
  margin: 0 auto;
}

aside .side-menu p.title {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 16px;
  font-weight: bold;
}

aside .side-menu ul {
  border-top: 1px solid #ccc;
  margin-bottom: 40px;
}

aside .side-menu ul li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}

aside .side-menu ul li a {
  display: block;
  padding: 12px 0;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: bold;
}

aside .side-menu ul li a:hover {
  color: #e00;
}

aside .side-bnr {
  margin-bottom: 60px;
}

aside .side-bnr a img {
  margin: 0 auto;
}

.footer-contact {
  margin-bottom: 60px;
}

.footer-contact h2 {
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 24px;
}

.footer-contact .inner {
  padding: 0 15px;
  margin: 0 auto;
}

.footer-contact .inner p {
  margin-bottom: 24px;
}

/* 2カラム------------------- */
.box-2column {
  margin-bottom: 4%;
}

.box-2column .box {
  width: 100%;
  height: auto;
}

.box-2column .box .image {
  width: 100%;
  height: 80vw;
  background: #ccc;
  overflow: hidden;
  margin-bottom: 16px;
}

.box-2column .box p.title {
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 8px !important;
}

/* 3カラム------------------- */
.box-3column {
  margin-bottom: 4%;
}

.box-3column .box {
  width: 100%;
  margin-bottom: 10%;
}

.box-3column .box .image {
  width: 100%;
  height: 60vw;
  background: #ccc;
  overflow: hidden;
  margin-bottom: 16px;
}

.box-3column .box p.title {
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 8px !important;
}

/* 4カラム------------------- */
.box-4column {
  margin-bottom: 4%;
}

.box-4column .box {
  width: 100%;
}

.box-4column .box .image {
  width: 100%;
  height: 13vw;
  background: #ccc;
  overflow: hidden;
  margin-bottom: 16px;
}

.box-4column .box p.title {
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 8px !important;
}

/* 2カラム カード------------ */
.box-2column-card {
  margin-bottom: 4%;
}

.box-2column-card .box {
  width: 100%;
  display: flex;
  margin-bottom: 4%;
}

.box-2column-card .box .image {
  width: 30%;
  margin-right: 2%;
  height: 20vw;
  background: #ccc;
  overflow: hidden;
}

.box-2column-card .box .txt {
  width: 68%;
}

.box-2column-card .box .txt p {
  font-size: 13px;
  font-size: 1.3rem;
}

.box-2column-card .box .txt p.title {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 4px !important;
}

.for-list a {
  display: block;
  width: 280px;
  margin: 0 auto 40px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background: #e00;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 3px 2px #aaa;
}

.for-list a:hover {
  background: #ff5555;
}

.for-contact a {
  display: block;
  width: 280px;
  margin: 0 auto 40px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background: #b5b5b5;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 3px 2px #aaa;
}

.for-contact a:hover {
  background: #e8e8e8;
}

/* 下層共通 -----------------------*/
.logo {
  width: 45%;
  height: auto;
  float: left;
}

.logo img {
  max-height: 35px;
}

.u-main {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}

.u-main img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.u-main .inner {
  padding: 0 15px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.u-main .inner h1,
.u-main .inner .page-title {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: bold;
  color: #000;
  line-height: 200px;
}

.u-contents {
  padding: 0 15px;
  margin: 0 auto;
}

.u-contents h2 {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.u-contents p#breadcrumbs {
  margin-bottom: 24px;
}

.u-contents p#breadcrumbs a,
.u-contents p#breadcrumbs span {
  color: #000;
  font-size: 13px;
}

/*新着情報*/
.news-list {
  width: 100%;
  margin-bottom: 60px;
}

.news-list dl {
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
}

.news-list dl dt {
  padding: 8px 8px 0;
  font-weight: bold;
  font-size: 12px;
  font-size: 1.2rem;
}

.news-list dl dd {
  padding: 8px;
  font-size: 15px;
  font-size: 1.5rem;
}

.news-list dl dd a {
  text-decoration: none;
  color: #e00;
  font-weight: bold;
}

.news-list dl dd a:hover {
  color: #b5b5b5;
}

.news-card-2 .wrap .box,
.news-card-3 .wrap .box,
.news-card-4 .wrap .box {
  width: 100%;
  margin-bottom: 40px;
}

.news-card-2 .wrap .box .image,
.news-card-3 .wrap .box .image,
.news-card-4 .wrap .box .image {
  width: 100%;
  height: 55.7vw;
  background: #ccc;
  margin-bottom: 16px;
}

.news-card-2 .wrap .box p.title,
.news-card-3 .wrap .box p.title,
.news-card-4 .wrap .box p.title {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 8px;
}

.news-card-2 .wrap .box p,
.news-card-3 .wrap .box p,
.news-card-4 .wrap .box p {
  font-size: 14px;
  font-size: 1.4rem;
}

.news-card-2 .wrap .box:nth-of-type(2n),
.news-card-3 .wrap .box:nth-of-type(2n),
.news-card-4 .wrap .box:nth-of-type(2n) {
  margin-right: 0;
}

.news-media-1 .wrap .box,
.news-media-2 .wrap .box {
  width: 100%;
  margin-bottom: 32px;
}

.news-media-1 .wrap .box .image,
.news-media-2 .wrap .box .image {
  width: 100%;
  height: 55.7vw;
  margin-right: 2%;
  background: #ccc;
  margin-bottom: 8px;
}

.news-media-1 .wrap .box .txt,
.news-media-2 .wrap .box .txt {
  width: 100%;
}

.news-media-1 .wrap .box .txt p.title,
.news-media-2 .wrap .box .txt p.title {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.news-media-1 .wrap .box .txt p,
.news-media-2 .wrap .box .txt p {
  font-size: 13px;
  font-size: 1.3rem;
}

.wp-pagenavi {
  text-align: center;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.wp-pagenavi span,
.wp-pagenavi a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #e00;
  border: 1px solid #e00;
  border-radius: 50%;
  line-height: 30px;
  margin: 0 4px;
}

.wp-pagenavi span.nextpostslink,
.wp-pagenavi a.nextpostslink {
  border: none;
}

.wp-pagenavi span.pages,
.wp-pagenavi a.pages {
  display: none;
}

.wp-pagenavi span.current,
.wp-pagenavi a.current {
  color: #fff;
  background: #e00;
}

.wp-pagenavi a:hover {
  color: #b5b5b5;
  border-color: #b5b5b5;
}

/*記事詳細ページ*/
.single-contents {
  margin-bottom: 64px;
}

.single-contents h1 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 32px;
}

.single-contents h2 {
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: bold;
  margin: 24px 0;
}

.single-contents h2:first-child {
  margin-top: 0;
}

.single-contents h3 {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 24px 0;
}

.single-contents h4 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 16px 0;
}

.single-contents p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 16px;
}

.single-contents figure img {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.single-contents ul {
  margin: 16px 0;
}

.single-contents ul li {
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  margin: 0 0 16px;
  line-height: 1.5;
  padding: 0;
}

.single-contents ul li::before {
  content: "";
  /* 空の要素作成 */
  width: 10px;
  /* 幅指定 */
  height: 10px;
  /* 高さ指定 */
  display: inline-block;
  /* インラインブロックにする */
  background-color: #F44336;
  /* 背景色指定 */
  border-radius: 50%;
  margin-right: 8px;
  /* 要素を丸くする */
}

.single-contents table {
  border: 2px solid #eee;
  margin: 24px 0;
}

.single-contents table tr {
  width: 100%;
}

.single-contents table tr td {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 15px;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  line-height: 1.5;
}

.single-contents table tr td:nth-of-type(1) {
  background: #e4e4e4;
  font-weight: bold;
}

.single-contents table tr td:nth-last-of-type(1) {
  border-right: none;
}

.single-contents table tr:nth-last-of-type(1) td {
  border-bottom: 0;
}

.single-contents blockquote {
  position: relative;
  padding: 40px 10px 10px 15px;
  box-sizing: border-box;
  font-style: italic;
  color: #464646;
  background: #ddeaff;
  margin: 24px 0;
}

.single-contents blockquote:before {
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 17px;
  content: "\f10d";
  font-family: FontAwesome;
  color: #FFF;
  font-size: 35px;
  line-height: 1;
  font-weight: 900;
}

.single-contents blockquote p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.7;
  font-weight: bold;
}

.single-contents blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}

/*会社概要*/
.greeting {
  margin-bottom: 80px;
}

.greeting .wrap {
  margin-bottom: 40px;
}

.greeting .wrap .txt {
  line-height: 1.8;
  font-size: 14px;
  font-size: 1.4rem;
}

.greeting .wrap .txt p.name {
  margin: 24px 0 32px;
  text-align: right;
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
}

.greeting .wrap .txt p.name span {
  font-size: 13px;
  font-size: 1.3rem;
}

.greeting .wrap .image {
  width: 100%;
  height: auto;
}

.history {
  margin-bottom: 80px;
}

.history dl {
  display: flex;
  border-right: 2px solid #aaa;
  border-left: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  align-items: center;
  line-height: 0;
}

.history dl dt {
  width: 22%;
  padding: 4% 2%;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  border-right: 2px solid #aaa;
  background: #d8f5cd;
  line-height: 1.5;
}

.history dl dd {
  width: 78%;
  padding: 2%;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
}

.history dl:nth-of-type(1) {
  border-top: 2px solid #aaa;
}

.company-profile {
  margin-bottom: 104px;
}

.company-profile dl {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.company-profile dl:nth-of-type(1) {
  border-top: 3px solid #ccc;
}

.company-profile dl dt {
  width: 26%;
  padding: 4% 2%;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
}

.company-profile dl dd {
  width: 74%;
  padding: 2%;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
}

.company-profile .com-image {
  margin: 32px auto;
}

.company-profile .map {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.company-profile .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/*よくある質問*/
.faq {
  margin-bottom: 64px;
}

.faq .box {
  margin-bottom: 24px;
  padding: 4%;
  border-radius: 10px;
}

.faq .box .question {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 16px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 8px;
}

.faq .box .question span {
  font-size: 20px;
  font-size: 2rem;
  color: cadetblue;
  margin-right: 8px;
}

.faq .box .answer {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
}

.faq .box .answer span {
  font-size: 18px;
  font-size: 1.8rem;
  color: #e00;
  margin-right: 8px;
}

.faq .box:nth-of-type(2n-1) {
  background: linen;
}

/*プライバシーポリシー*/
.l-privacy .p--definition dt {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 16px;
  font-family: "note700";
}

.l-privacy .p--definition dd {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 32px;
}

.l-privacy p.company-name {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "note700";
}

.l-privacy p.company-name:first-line {
  font-size: 18px;
  font-size: 1.8rem;
}

/*お問いわせフォーム*/
p.contact-intro {
  text-align: left;
  margin-bottom: 40px;
  font-size: 15px;
  font-size: 1.5rem;
}

.contact-form {
  margin-bottom: 40px;
}

.contact-form dl {
  border-radius: 10px;
  margin-bottom: 24px;
}

.contact-form dl:nth-of-type(2n-1) {
  background: #f7f5ef;
}

.contact-form dl dt {
  padding: 4%;
  font-size: 15px;
  font-size: 1.5rem;
  width: 100%;
}

.contact-form dl dt span {
  padding: 3px 6px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-right: 8px;
}

.contact-form dl dt span.required {
  background: #e00;
}

.contact-form dl dt span.any {
  background: #aaa;
}

.contact-form dl dd {
  padding: 4%;
  font-size: 15px;
  font-size: 1.5rem;
  width: 100%;
}

.contact-form dl dd input,
.contact-form dl dd textarea {
  border: 1px solid #ccc;
}

.contact-form dl dd input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 8px;
  font-size: 15px;
  font-size: 1.5rem;
}

.contact-form dl dd input.zip {
  width: 30%;
}

.contact-form dl dd input[type="tel"] {
  width: 40%;
  padding: 5px;
  margin-bottom: 8px;
  font-size: 15px;
  font-size: 1.5rem;
}

.contact-form dl dd textarea {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  font-size: 1.5rem;
}

.contact-form dl dd span {
  font-size: 13px;
  color: #aaa;
}

.contact-form dl dd label {
  margin-right: 16px;
}

.contact-form dl:nth-last-of-type(1) {
  margin-bottom: 32px;
}

.contact-form .poricy-agree {
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 24px;
}

.contact-form .poricy-agree input {
  margin-right: 8px;
}

.contact-form input[type="submit"] {
  display: block;
  padding: 10px 15px;
  margin: 0 auto;
  text-align: center;
  background: #e00;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
}

.contact-form input[type="submit"]:hover {
  background: #b5b5b5;
}

h2.thanks-txt {
  Width: 100%;
  text-align: left;
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: bold;
  Margin: 0 auto 24px;
  line-height: 1.5;
}

p.thanks-sub {
  Width: 100%;
  text-align: left;
  font-size: 16px;
  font-size: 1.6rem;
  Margin: 0 auto 16px;
}

.for-top {
  margin: 60px auto;
  text-align: center;
}

.for-top a {
  display: block;
  width: 280px;
  padding: 15px 0;
  text-align: center;
  background: #e00;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 auto 40px;
  text-decoration: none;
}

.for-top a:hover {
  background: #b5b5b5;
}

/*404*/
p.notfound {
  font-size: 15px;
  text-align: center;
  padding: 0 15px;
  margin: 24px auto 40px;
}

p.notfound span {
  Font-size: 18px;
  Font-weight: bold;
  Margin-bottom: 24px;
  display: block;
}

.fortop {
  text-align: center;
  margin-bottom: 40px;
}

.fortop a {
  display: block;
  width: 230px;
  padding: 12px;
  text-align: center;
  color: #fff;
  background: #e00;
  border: 1px solid #e00;
  margin: 24px auto;
  font-size: 14px;
  color: #fff !important;
  text-decoration: none;
}

footer {
  background: #b5b5b5 !important;
}

footer .inner {
  padding: 30px 15px;
  margin: 0 auto;
}

footer .inner .footer-logo {
  width: 100%;
  padding: 0;
}

footer .inner .f-nav {
  margin: 0;
  position: relative;
  width: 50%;
}

footer .inner .f-nav ul {
  display: flex;
  flex-wrap: wrap;
}

footer .inner .f-nav ul li {
  width: 33.333%;
  padding: 15px;
  list-style: none;
}

footer .inner .f-nav ul li a {
  font-size: 15px;
  font-size: 1.5rem;
}

footer .inner .f-nav ul li a:hover {
  color: #fff;
}

footer small {
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
  color: #fff;
  padding: 10px 0;
  border-top: 1px solid #fff;
}

#gnav {
  padding: 60px 0;
  background-color: #e00;
}

#gnav a {
  color: #fff;
  text-decoration: none;
}

#gnav a:hover,
#gnav a.stay {
  background-color: #ff5555;
}

/* mmenu */
#mm-blocker {
  background: rgba(0, 0, 0, 0.5);
}

/* sp-navi */
.sp-navi {
  background: #f90;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.sp-navi li {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  width: 20%;
  position: relative;
}

.spn {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  background: #e00;
  color: #fff !important;
  display: block;
  font-size: 10px;
  line-height: 1.1;
  text-align: center;
  padding: 11px 0 10px;
}

.spn:not(#gnav-open)::before {
  display: block;
  font-family: 'taga-koutsuu';
  font-size: 2rem;
  margin: 0 0 5px;
}

.sp-navi li:nth-child(1) a.spn::before {
  content: '\e801';
}

.sp-navi li:nth-child(2) a.spn::before {
  content: '\e803';
}

.sp-navi li:nth-child(3) a.spn::before {
  content: '\f15c';
}

.sp-navi li:nth-child(4) a.spn::before {
  content: '\e800';
}

.mainnav-sub li {
  background: #ff5555;
}

#page_top {
  position: fixed;
  bottom: 30px;
  right: 5%;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: rgba(191, 127, 63, 0.8);
}

#page_top a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  color: #fff;
  text-align: center;
}
