@charset "UTF-8";
/*
#overview
Gulp入門サンプル

サンプルファイルです
*/
/*#styleguide
サンプル見出し1gul

```
<h1>見出し1</h1>
```
*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  min-width: 960px;
}

body {
  width: 100%;
  margin: 0;
  color: #000;
  font-family: YuGothic, 'Yu Gothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', sans-serif;
  font-weight: 500;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.8;
}

*:hover {
  transition: all 0.3s ease-out;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  color: inherit;
}

/* 好みで使用してください
p, dl, dt, dd, ul, li{
    line-height: 1.5;
    font-feature-settings : "palt";
    text-align:justify; 
    text-justify: inter-ideograph;
}
*/
img {
  border: none;
}

.sp {
  display: none !important;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0px;
  left: 0px;
  background: #f4f4f4;
  z-index: 1;
}

#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.fulfilling-bouncing-circle-spinner,
.fulfilling-bouncing-circle-spinner * {
  box-sizing: border-box;
}

.fulfilling-bouncing-circle-spinner {
  height: 60px;
  width: 60px;
  position: relative;
  animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .orbit {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: calc(60px * 0.03) solid #ec7b3f;
  animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .circle {
  height: 60px;
  width: 60px;
  color: #ec7b3f;
  display: block;
  border-radius: 50%;
  position: relative;
  border: calc(60px * 0.1) solid #ec7b3f;
  animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
  transform: rotate(0deg) scale(1);
}

@keyframes fulfilling-bouncing-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  62.5% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  87.5% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fulfilling-bouncing-circle-spinner-circle-animation {
  0% {
    transform: scale(1);
    border-color: transparent;
    border-top-color: inherit;
  }
  16.7% {
    border-color: transparent;
    border-top-color: initial;
    border-right-color: initial;
  }
  33.4% {
    border-color: transparent;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
  }
  50% {
    border-color: inherit;
    transform: scale(1);
  }
  62.5% {
    border-color: inherit;
    transform: scale(1.4);
  }
  75% {
    border-color: inherit;
    transform: scale(1);
    opacity: 1;
  }
  87.5% {
    border-color: inherit;
    transform: scale(1.4);
  }
  100% {
    border-color: transparent;
    border-top-color: inherit;
    transform: scale(1);
  }
}

#wrapper {
  display: none;
}

.fadein {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s;
}

.fadein.active {
  opacity: 1;
  transform: translate(0, 0);
}

.header {
  width: 100%;
  position: relative;
}

.header .inner {
  width: 960px;
  height: 120px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header .inner h1 {
  width: 50%;
  display: flex;
  align-items: center;
}

.header .inner .header-contact {
  display: flex;
  width: 50%;
  align-items: center;
}

.header .inner .header-contact .tel {
  width: 50%;
  font-size: 20px;
  font-size: 2rem;
}

.header .inner .header-contact .tel svg {
  margin-right: 8px;
}

.header .inner .header-contact .tel span {
  font-size: 12px;
}

.header .inner .header-contact .hdr-contact {
  width: 50%;
}

.header .inner .header-contact .hdr-contact a {
  text-align: center;
  color: #fff;
  background: #e00;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 3px 2px #aaa;
  padding: 10px 40px;
}

.header .inner .header-contact .hdr-contact a:hover {
  background: #ff5555;
}

.header nav {
  background: #000;
}

.header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav ul li {
  list-style-type: none;
}

.header nav ul li a {
  padding: 25px;
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
  color: #fff;
  text-decoration: none;
}

.header nav ul li a:hover {
  background: #f4f4f4;
  color: #000;
}

.main-image {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 80px;
}

.main-image img {
  width: 100%;
  height: auto;
}

.main-image p.float {
  position: absolute;
  left: 20%;
  bottom: 20%;
  font-size: 32px;
  color: #fff;
  font-weight: bold;
}

.wrap-column {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}

.wrap-column .main-contents {
  width: 620px;
  margin: 0;
}

.wrap-column .main-contents h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}

.wrap-column .main-contents section {
  margin-bottom: 64px;
}

.wrap-column .main-contents section.intro .inner {
  width: 620px;
  margin: 0 auto;
}

.wrap-column .main-contents section.intro .inner p {
  margin-bottom: 16px;
}

.wrap-column .main-contents section.intro .inner p.title {
  margin-bottom: 32px;
}

.wrap-column .main-contents section.bg-section {
  width: 100%;
  padding: 64px 15px 32px;
  background: #e4e4e4;
}

.wrap-column .main-contents section.bg-section .inner {
  width: 100%;
  margin: 0 auto;
}

.wrap-column .main-contents section.bg-section .inner p {
  margin-bottom: 32px;
}

.wrap-column .main-contents section.top-news {
  width: 100%;
  margin: 0 auto 100px;
}

.wrap-column .main-contents section.top-news dl {
  border-bottom: 1px dotted #ccc;
  display: flex;
}

.wrap-column .main-contents section.top-news dl dt {
  padding: 15px 10px;
  width: 20%;
  font-weight: bold;
  font-size: 14px;
}

.wrap-column .main-contents section.top-news dl dd {
  padding: 15px 10px;
  width: 80%;
  font-size: 16px;
}

.wrap-column .main-contents section.top-news dl:nth-last-of-type(1) {
  margin-bottom: 40px;
}

.wrap-column aside {
  width: 300px;
}

.wrap-column aside .side-menu p.title {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 16px;
  font-weight: bold;
}

.wrap-column aside .side-menu ul {
  border-top: 1px solid #ccc;
  margin-bottom: 40px;
}

.wrap-column aside .side-menu ul li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}

.wrap-column aside .side-menu ul li a {
  display: block;
  padding: 12px 0;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: bold;
}

.wrap-column aside .side-menu ul li a:hover {
  color: #e00;
}

.footer-contact {
  border-top: 1px solid #ccc;
  padding: 40px 0;
  margin-bottom: 0;
}

.footer-contact h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}

.footer-contact .inner {
  width: 960px;
  margin: 0 auto;
}

.footer-contact .inner p {
  margin-bottom: 24px;
}

/* 2カラム------------------- */
.box-2column {
  width: 620px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4%;
}

.box-2column .box {
  width: calc((620px - 4%) / 2);
  margin-right: 4%;
}

.box-2column .box .image {
  width: 100%;
  height: 18vw;
  background: #ccc;
  overflow: hidden;
  margin-bottom: 16px;
}

.box-2column .box p.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px !important;
}

.box-2column .box:nth-of-type(2n) {
  margin-right: 0;
}

/* 3カラム------------------- */
.box-3column {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4%;
}

.box-3column .box {
  width: calc((960px - 4%) / 3);
  margin-right: 2%;
}

.box-3column .box .image {
  width: 100%;
  height: 13vw;
  background: #ccc;
  overflow: hidden;
  margin-bottom: 16px;
}

.box-3column .box p.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px !important;
}

.box-3column .box:nth-of-type(3n) {
  margin-right: 0;
}

/* 4カラム------------------- */
.box-4column {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4%;
}

.box-4column .box {
  width: calc((960px - 6%) / 4);
  margin-right: 2%;
}

.box-4column .box .image {
  width: 100%;
  height: 13vw;
  background: #ccc;
  overflow: hidden;
  margin-bottom: 16px;
}

.box-4column .box p.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px !important;
}

.box-4column .box:nth-of-type(4n) {
  margin-right: 0;
}

/* 5カラム------------------- */
.box-5column {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4%;
}

.box-5column .box {
  width: calc((960px - 8%) / 5);
  margin-right: 2%;
}

.box-5column .box .image {
  width: 100%;
  height: 13vw;
  background: #ccc;
  overflow: hidden;
  margin-bottom: 16px;
}

.box-5column .box p.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px !important;
}

.box-5column .box:nth-of-type(5n) {
  margin-right: 0;
}

/* 2カラム カード------------ */
.box-2column-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4%;
}

.box-2column-card .box {
  width: calc((960px - 4%) / 2);
  margin-right: 2%;
  display: flex;
  margin-bottom: 4%;
}

.box-2column-card .box .image {
  width: 48%;
  margin-right: 2%;
  height: 13vw;
  background: #ccc;
  overflow: hidden;
}

.box-2column-card .box .txt {
  width: 50%;
}

.box-2column-card .box .txt p.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px !important;
}

.box-2column-card .box:nth-of-type(4n) {
  margin-right: 0;
}

/* 3カラム カード------------ */
.box-3column-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4%;
}

.box-3column-card .box {
  width: calc((960px - 4%) / 3);
  margin-right: 2%;
  display: flex;
  margin-bottom: 4%;
}

.box-3column-card .box .image {
  width: 48%;
  margin-right: 2%;
  height: 7vw;
  background: #ccc;
  overflow: hidden;
}

.box-3column-card .box .txt {
  width: 50%;
}

.box-3column-card .box .txt p {
  font-size: 13px;
  font-size: 1.3rem;
}

.box-3column-card .box .txt p.title {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px !important;
}

.box-3column-card .box:nth-of-type(3n) {
  margin-right: 0;
}

.for-list a {
  display: block;
  width: 280px;
  margin: 0 auto 60px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background: #e00;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 3px 2px #aaa;
}

.for-list a:hover {
  background: #ff5555;
}

.for-contact a {
  display: block;
  width: 280px;
  margin: 0 auto 40px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background: #b5b5b5;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 3px 2px #aaa;
}

.for-contact a:hover {
  background: #e8e8e8;
}

/* 下層共通 -----------------------*/
.logo {
  width: 50%;
  display: flex;
  align-items: center;
}

.u-main {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}

.u-main img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.u-main .inner {
  width: 620px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.u-main .inner h1,
.u-main .inner .page-title {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: bold;
  color: #000;
  line-height: 200px;
}

.u-contents {
  width: 620px;
  margin: 0 auto;
}

.u-contents h2 {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.u-contents p#breadcrumbs {
  margin-bottom: 40px;
}

.u-contents p#breadcrumbs a,
.u-contents p#breadcrumbs span {
  color: #000;
  font-size: 13px;
}

/*新着情報*/
.news-list {
  width: 100%;
  margin-bottom: 60px;
}

.news-list dl {
  display: flex;
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
}

.news-list dl dt {
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}

.news-list dl dd {
  padding: 10px;
  font-size: 15px;
}

.news-list dl dd a {
  text-decoration: none;
  color: #e00;
  font-weight: bold;
}

.news-list dl dd a:hover {
  color: #b5b5b5;
}

.news-card-2 .wrap {
  display: flex;
  flex-wrap: wrap;
}

.news-card-2 .wrap a {
  display: block;
  width: calc((620px - 4%) / 2);
  margin-right: 2%;
  margin-bottom: 40px;
  text-decoration: none;
}

.news-card-2 .wrap a:hover {
  color: #e00;
}

.news-card-2 .wrap a .image {
  width: 100%;
  height: 19.3vw;
  background: #ccc;
  margin-bottom: 16px;
}

.news-card-2 .wrap a p.title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 8px;
}

.news-card-2 .wrap a p {
  font-size: 14px;
  font-size: 1.4rem;
}

.news-card-2 .wrap a:nth-of-type(2n) {
  margin-right: 0;
}

.news-card-3 .wrap {
  display: flex;
  flex-wrap: wrap;
}

.news-card-3 .wrap a {
  display: block;
  width: calc((620px - 4%) / 3);
  margin-right: 2%;
  margin-bottom: 32px;
  text-decoration: none;
}

.news-card-3 .wrap a:hover {
  color: #e00;
}

.news-card-3 .wrap a .image {
  width: 100%;
  height: 12.8vw;
  background: #ccc;
  margin-bottom: 16px;
}

.news-card-3 .wrap a p.title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 8px;
}

.news-card-3 .wrap a p {
  font-size: 14px;
  font-size: 1.4rem;
}

.news-card-3 .wrap a:nth-of-type(3n) {
  margin-right: 0;
}

.news-card-4 .wrap {
  display: flex;
  flex-wrap: wrap;
}

.news-card-4 .wrap a {
  display: block;
  width: calc((620px - 6%) / 4);
  margin-right: 2%;
  margin-bottom: 32px;
  text-decoration: none;
}

.news-card-4 .wrap a:hover {
  color: #e00;
}

.news-card-4 .wrap a .image {
  width: 100%;
  height: 9.5vw;
  background: #ccc;
  margin-bottom: 16px;
}

.news-card-4 .wrap a p.title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 8px;
}

.news-card-4 .wrap a p {
  font-size: 14px;
  font-size: 1.4rem;
}

.news-card-4 .wrap a:nth-of-type(4n) {
  margin-right: 0;
}

.news-media-1 .wrap a {
  text-decoration: none;
}

.news-media-1 .wrap a:hover {
  color: #e00;
}

.news-media-1 .wrap a .box {
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.news-media-1 .wrap a .box .image {
  width: 20%;
  height: 8vw;
  margin-right: 2%;
  background: #ccc;
}

.news-media-1 .wrap a .box .txt {
  width: 78%;
}

.news-media-1 .wrap a .box .txt p.title {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.news-media-1 .wrap a .box .txt p {
  font-size: 13px;
  font-size: 1.3rem;
}

.news-media-2 .wrap {
  display: flex;
  flex-wrap: wrap;
}

.news-media-2 .wrap a {
  display: block;
  text-decoration: none;
  width: calc((620px - 4%) / 2);
}

.news-media-2 .wrap a:hover {
  color: #e00;
}

.news-media-2 .wrap a .box {
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.news-media-2 .wrap a .box .image {
  width: 30%;
  height: 8vw;
  margin-right: 2%;
  background: #ccc;
}

.news-media-2 .wrap a .box .txt {
  width: 68%;
  padding-right: 4%;
}

.news-media-2 .wrap a .box .txt p.title {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.news-media-2 .wrap a .box .txt p {
  font-size: 13px;
  font-size: 1.3rem;
}

.wp-pagenavi {
  text-align: center;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.wp-pagenavi span,
.wp-pagenavi a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #e00;
  border: 1px solid #e00;
  border-radius: 50%;
  line-height: 30px;
  margin: 0 4px;
}

.wp-pagenavi span.nextpostslink,
.wp-pagenavi a.nextpostslink {
  border: none;
}

.wp-pagenavi span.pages,
.wp-pagenavi a.pages {
  display: none;
}

.wp-pagenavi span.current,
.wp-pagenavi a.current {
  color: #fff;
  background: #e00;
}

.wp-pagenavi a:hover {
  color: #b5b5b5;
  border-color: #b5b5b5;
}

/*記事詳細ページ*/
.single-contents {
  margin-bottom: 64px;
}

.single-contents h1 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 32px;
}

.single-contents h2 {
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: bold;
  margin: 24px 0;
}

.single-contents h2:first-child {
  margin-top: 0;
}

.single-contents h3 {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 24px 0;
}

.single-contents h4 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 16px 0;
}

.single-contents p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 16px;
}

.single-contents figure img {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.single-contents ul {
  margin: 16px 0;
}

.single-contents ul li {
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  margin: 0 0 16px;
  padding: 0;
}

.single-contents ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #F44336;
  border-radius: 50%;
  margin-right: 8px;
}

.single-contents table {
  border: 2px solid #eee;
  margin: 24px 0;
}

.single-contents table tr {
  width: 100%;
}

.single-contents table tr td {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 15px;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.single-contents table tr td:nth-of-type(1) {
  background: #e4e4e4;
  font-weight: bold;
}

.single-contents table tr td:nth-last-of-type(1) {
  border-right: none;
}

.single-contents table tr:nth-last-of-type(1) td {
  border-bottom: 0;
}

.single-contents blockquote {
  position: relative;
  padding: 34px 10px 10px 20px;
  box-sizing: border-box;
  font-style: italic;
  color: #464646;
  background: #ddeaff;
  margin: 24px 0;
}

.single-contents blockquote:before {
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 17px;
  content: "\f10d";
  font-family: FontAwesome;
  color: #FFF;
  font-size: 26px;
  line-height: 1;
  font-weight: 900;
}

.single-contents blockquote p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.7;
  font-weight: bold;
}

.single-contents blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}

/*会社概要*/
.greeting {
  margin-bottom: 80px;
}

.greeting .wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.greeting .wrap .txt {
  margin-right: 40px;
  line-height: 1.8;
  font-size: 14px;
  font-size: 1.4rem;
  width: 60%;
}

.greeting .wrap .txt p.name {
  margin: 24px 0 0;
  text-align: right;
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
}

.greeting .wrap .txt p.name span {
  font-size: 13px;
  font-size: 1.3rem;
}

.greeting .wrap .image {
  width: 38%;
}

.history {
  margin-bottom: 80px;
}

.history dl {
  display: flex;
  border-right: 2px solid #aaa;
  border-left: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  align-items: center;
  line-height: 0;
}

.history dl dt {
  width: 20%;
  padding: 15px;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  border-right: 2px solid #aaa;
  background: #d8f5cd;
  line-height: 1.5;
}

.history dl dd {
  width: 80%;
  padding: 0 20px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

.history dl:nth-of-type(1) {
  border-top: 2px solid #aaa;
}

.company-profile {
  margin-bottom: 104px;
}

.company-profile dl {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.company-profile dl:nth-of-type(1) {
  border-top: 3px solid #ccc;
}

.company-profile dl dt {
  width: 20%;
  padding: 15px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
}

.company-profile dl dd {
  width: 80%;
  padding: 0 20px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

.company-profile .com-image,
.company-profile .map {
  width: 100%;
  height: auto;
  margin: 32px auto;
}

.company-profile .com-image iframe,
.company-profile .map iframe {
  width: 100%;
}

.company-profile .com-image img,
.company-profile .map img {
  width: 100%;
  height: auto;
}

/*よくある質問*/
.faq {
  margin-bottom: 64px;
}

.faq .box {
  margin-bottom: 24px;
  padding: 2%;
  border-radius: 10px;
}

.faq .box .question {
  font-size: 20px;
  margin-bottom: 16px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 8px;
}

.faq .box .question span {
  font-size: 22px;
  color: cadetblue;
  margin-right: 8px;
}

.faq .box .answer {
  font-size: 16px;
  line-height: 1.5;
}

.faq .box .answer span {
  font-size: 22px;
  color: #e00;
  margin-right: 8px;
}

.faq .box:nth-of-type(2n-1) {
  background: linen;
}

/*プライバシーポリシー*/
.l-privacy {
  margin-bottom: 200px;
}

.l-privacy .p--definition dt {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 16px;
  font-family: "note700";
}

.l-privacy .p--definition dd {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 32px;
}

.l-privacy p.company-name {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "note700";
}

.l-privacy p.company-name:first-line {
  font-size: 18px;
  font-size: 1.8rem;
}

/*お問いわせフォーム*/
p.contact-intro {
  text-align: center;
  margin-bottom: 40px;
}

.contact-form {
  margin-bottom: 40px;
}

.contact-form dl {
  display: flex;
  border-radius: 10px;
}

.contact-form dl:nth-of-type(2n-1) {
  background: #f7f5ef;
}

.contact-form dl dt {
  padding: 15px;
  font-size: 15px;
  font-size: 1.5rem;
  width: 28%;
}

.contact-form dl dt span {
  padding: 3px 6px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-right: 8px;
}

.contact-form dl dt span.required {
  background: #e00;
}

.contact-form dl dt span.any {
  background: #aaa;
}

.contact-form dl dd {
  width: 72%;
  padding: 15px;
  font-size: 15px;
  font-size: 1.5rem;
}

.contact-form dl dd input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 8px;
  font-size: 15px;
  font-size: 1.5rem;
}

.contact-form dl dd input.zip {
  width: 20%;
}

.contact-form dl dd input[type="tel"] {
  width: 30%;
  padding: 5px;
  margin-bottom: 8px;
  font-size: 15px;
  font-size: 1.5rem;
}

.contact-form dl dd textarea {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  font-size: 1.5rem;
}

.contact-form dl dd span {
  font-size: 13px;
  color: #aaa;
}

.contact-form dl dd label {
  margin-right: 16px;
}

.contact-form dl:nth-last-of-type(1) {
  margin-bottom: 32px;
}

.contact-form .poricy-agree {
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 24px;
}

.contact-form .poricy-agree input {
  margin-right: 8px;
}

.contact-form input[type="submit"] {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background: #e00;
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
}

.contact-form input[type="submit"]:hover {
  background: #b5b5b5;
}

h2.thanks-txt {
  Width: 90%;
  text-align: center;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  Margin: 0 auto 24px;
  line-height: 1.5;
}

p.thanks-sub {
  Width: 90%;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  Margin: 0 auto 16px;
}

.for-top {
  margin: 60px auto;
  text-align: center;
}

.for-top a {
  display: block;
  width: 280px;
  padding: 15px 0;
  text-align: center;
  background: #e00;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 auto 40px;
  text-decoration: none;
}

.for-top a:hover {
  background: #b5b5b5;
}

/*404*/
p.notfound {
  font-size: 16px;
  text-align: center;
  width: 90%;
  margin: 0 auto 40px;
}

p.notfound span {
  Font-size: 22px;
  Font-weight: bold;
  Margin-bottom: 24px;
  display: block;
}

.fortop {
  text-align: center;
  margin-bottom: 40px;
}

.fortop a {
  display: block;
  width: 230px;
  padding: 12px;
  text-align: center;
  color: #fff;
  background: #e00;
  border: 1px solid #e00;
  margin: 24px auto;
  font-size: 16px;
  color: #fff !important;
  text-decoration: none;
}

.fortop a:hover {
  background: #b5b5b5;
  color: #fff;
}

footer {
  background: #b5b5b5 !important;
}

footer .inner {
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0;
}

footer .inner .footer-logo {
  width: 50%;
  padding: 0;
}

footer .inner .f-nav {
  margin: 0;
  position: relative;
  width: 50%;
}

footer .inner .f-nav ul {
  display: flex;
  flex-wrap: wrap;
}

footer .inner .f-nav ul li {
  width: 33.333%;
  padding: 15px;
  list-style: none;
}

footer .inner .f-nav ul li a {
  font-size: 15px;
  font-size: 1.5rem;
}

footer .inner .f-nav ul li a:hover {
  color: #fff;
}

footer small {
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
  color: #fff;
  padding: 10px 0;
  border-top: 1px solid #fff;
}

#page_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: rgba(191, 127, 63, 0.8);
}

#page_top a {
  display: block;
  width: 100px;
  height: 100px;
  padding-top: 38px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 320) and (max-width: 767) {
  .wrap {
    width: 100%;
  }
}
